.container{
  background-color: cadetblue;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.heading{
  font-size:30px;
  align-items: center;
}
.heading1{
  padding-top: 20px;
}
.ratingText{
  padding-top:20px;
  display: flex;
}
.button {
  padding : 10px 20px ;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: #eee;
}

.button:active {
  background-color: #ddd;
}
.star {
  color: black;
  cursor: pointer;
  font-size: 24px;
}


.selected {
  color: goldenrod; 
}